
html {
  font-family: $mainFont;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $backgroundColor;
  hyphens: manual;
  font-weight: $fontWeightRegular;

  @media (min-width: $largeDisplay) {
    font-size: $fontSizeLargeDisplay;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headFont;
  color: $duskBlue;
  line-height: 1em;
}

h1 {
  margin: .667em 0 .5em;
  font-size: 2.5em;
  font-weight: $fontWeightBlack;
  letter-spacing: .025em;
}

h2 {
  margin: 1.5em 0 .667em;
  font-size: 2em;
  font-weight: $fontWeightLight;
}

h3 {
  margin: 1.5em 0 .667em;
  font-size: 1.17em;
  font-weight: $fontWeightSemiBold;
}

p {
  margin: 1em 0;
}

p, li {
  max-width: 50em;
}

ul,
ol {
  margin: 1em 0;
  padding-left: 1.5em;
}

li {
  margin: .75em 0;
}

a {
  color: $nightBlue;
}

button {
  font-size: 1em;
}

strong {
  font-weight: $fontWeightSemiBold;
}

.page-enter-active, .page-leave-active {
  transition: all .15s ease-out;
}

.page-enter, .page-leave-to {
  opacity: 0;
}
.page-enter {
  transform: translateY(-1em);
}
 .page-leave-to {
  opacity: 0;
   transform: translateY(1em);
}

@media (max-width: 25rem) {
  .hide-on-mobile {
    display: none;
  }
}

svg.feather {
  vertical-align: text-bottom;
  height: 1.25em;
}
