// FDF colors
$duskBlue: #5F8CB4;
$nightBlue: #0a3858;
$fallRed: #D22832;

$granit: #7D878C;
$grainYellow: #FFB91E;
$lakeBlue: #4678C8;
$grassGreen: #7DC855;
$flame: #FF733C;

$numlingeColor: #9182C8;
$puslingeColor: $grainYellow;
$tumlingeColor: $fallRed;
$pilteColor: $grassGreen;
$vaebnereColor: $lakeBlue;
$seniorvaebnereColor: $granit;
$seniorerColor: $flame;
$ledereColor: $nightBlue;

// FDF Nivå
$backgroundColor: #ebebeb;
$navigationBackgroundColor: white;
$backgroundColorSlightContrast: darken($backgroundColor, 5%);

// Sizes
$maxContentWidth: 70rem;
$maxContentWidthLargeDisplay: calc(#{$maxContentWidth} + 7vw);
$fontSizeLargeDisplay: calc(1em + .1vw);
$largeDisplay: 80rem;
$largePhone: 440px;

// Fonts
$mainFont: 'Work Sans', -apple-system, BlinkMacSystemFont, sans-serif;
$headFont: $mainFont;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightSemiBold: 600;
$fontWeightBlack: 900;


// Borders
$defaultBorderRadius: .2rem;
$largeBorderRadius: 1rem;
$defaultBoxShadow: 0 .25em .5em rgba(0, 0, 0, .1);
